@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css") all;
/* Google-Fonts */
@import url("https://fonts.googleapis.com/css?family=Buenard:700") all;


*{
  box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font: normal 12px 'Source Sans Pro';
    
  
}
.zsx {
padding: 0;
background-color: #000000;

}

.zsx h1, .zsx h3{
text-align:center;
color:#fff;
}

.zsx h1{
font-size:110px;
font-family: Arial Black;
font-weight:bold;
text-transform:inherit;
margin: 0px auto 0px;
text-shadow: 2px 2px 2px #000;
-webkit-text-shadow: 2px 2px 2px #000;
-moz-text-shadow: 2px 2px 2px #000;
}

.zsx h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
font-family: Arial Black;
}

li.link2{
   list-style-type: none;
	margin: 1vw 0;
	font-size: 13px;
}
 a.link2{
   text-decoration: none;
   color: #34495e;
   font-family: monospace;
   height: 20px;
   padding: 1vw;
   list-style: none;
   
 }
 .link2 li a:hover{
   color:#718daa;
   
 }
 
nav{
  margin: 0;
  background-color: #ededed;
  padding-top: 0;
  list-style: none;
  width: 100%;
  -webkit-box-shadow: 0px 0px 14px 0px
rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

ul.link2{
   
   margin: 0;
   padding: 0;
   
   display: flex;
   list-style: none;
}

 button{
   display: none;
 }
 
 @media only screen and (max-width: 600px) {
   ul.link2{
     flex-direction: column;
   }
   
   a.link2{
     display: block;
     list-style: none;
     
   }

   li.link2{
     margin: 0;
     list-style: none;
   }
   
   button{
     display: block;
     padding: 2vw;
     font-size: 2vh;
     background-color: #ededed;
     border: none;
     outline: none;
     cursor: pointer;

     align-self: flex-start;
   }

 }

.content{
    padding-top: 31px;
    position: static;
 }
 
 .button{
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 10%;
  }
  
  .button:hover {
	background-color: #555;
  }
 
 h6{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   color: #485e74;
   text-align: left;
   font-size: 20px;
 }

h2{
  font-family: Palatino, URW Palladio L, serif;
  text-align: left;
  
   
 }

h3{
   font-size: 14px;
   text-decoration: none;
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   color: rgba(128, 0, 5, 0.85);
   font-weight: bold;
}

h4{
   font-size: 20px;
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   color: #485e74;
  }
  
h5{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   font-size: 27px;
   color: black;
     
  
}

ul{
 text-decoration: none !important;
 font-size: 16px;
 list-style-type: none;
}

p.date {
    color:#ccc;
    font: georgia, serif;
    font-size: 12px;
    font-style: italic;

}
/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;

}


p{
font-size: 16px;
text-align: left;
}

a{
 color: #111;
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 text-decoration: none !important;
}
.link1{
  color: #DAA520;
  text-decoration: none;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 13px;
  font-style: normal;
}
a.rss{
   color: #e0ac1c;
   font-family:'Buenard', serif;
   text-decoration: none;
   font-size: 15px;
}
a.rss:hover{
	color: white;
	
  }
.h7 {
  text-align: left;
  color: black;
  font: normal 15px 'Source Sans Pro';
  font-weight: 700;
   }

   .social-menu ul {
       position: relative;
       left: 70%;
       transform: translate(-50%, -50%);
       padding: 0;
       margin: 0;
       display: flex;
   }

   .social-menu ul li {
      list-style: none;
      margin: 0 8px;
   }

   .social-menu ul li .fa {
      color: #000000;
      font-size: 13px;
      line-height: 50px;
      transition: .5s;
   }

   .social-menu ul li .fa:hover {
      color: #ffffff;
   }
   .social-menu ul li a {
      position: relative;
      display: block;
      width: 38px;
      height: 39px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      transition: 0.5s;
      transform: translate(0,0px);
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
   }
   .social-menu ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
   }
   .social-menu ul li:nth-child(1) a:hover {
      background-color: #3b5999;
   }
   .social-menu ul li:nth-child(2) a:hover {
      background-color: #55acee;
   }
   .social-menu ul li:nth-child(5) a:hover {
      background-color: #075e54;
   }
   .social-menu ul li:nth-child(4) a:hover {
      background-color: #cd201f;
   }
   .social-menu ul li:nth-child(3) a:hover {
      background-color: #0077B5;
   }

/* The footer is fixed to the bottom of the page */

footer{
	position: absolute;
	bottom: 0;
	
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:0px; }
}
.footer-distributed{
    background-color: rgba(12, 12, 12, 0.918);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font-size: 34px;
	font-family:'Buenard', serif;
    font-weight:bold;
    text-transform:inherit;
    margin: 0px auto 0px;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;

}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
	font-size: 34px;
	font-family:'Buenard', serif;
    font-weight:bold;
    text-transform:inherit;
    margin: 0px auto 0px;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 }

 @media only screen and (max-width: 5280px) {
   .img-fluid {
     width: 100%;
     max-width: 450px;
     max-height: 250px !important; 
     object-fit: cover;
     object-position: bottom;
   }
   .carousel-inner{
      width: 100%;
      max-height: 400px !important;  
   }
 }

.video-responsive{
    overflow:hidden;
    position:relative;
    width: 100%;
    
}
.h9{
   color: #111111;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: bold;
}
.tags{
     font-weight: bold;
     text-transform: normal;
}
a.tags{
      text-transform: lowercase;
      font-weight: normal;
}